h2{
    color: black;
    font-family: Georgia, 'Times New Roman', Times, serif;
    
}
body{
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-image: url("https://ak4.picdn.net/shutterstock/videos/10244534/thumb/1.jpg")
    
}

